# .env.example

# Environment variable to skip the application process
SKIP_APPLY=False

# Environment variable to disable the description filter
DISABLE_DESCRIPTION_FILTER=False

# OpenAI API Key for accessing GPT services
OPENAI_API_KEY=your_openai_api_key

# Google API Key for accessing Google services
GOOGLE_API_KEY=your_google_api_key
