*.csv
__pycache__/**
.idea/**
open_ai_calls.log
test*
openaiSelenium*
open_ai_calls.json
_*
.venv
generated_cv*
resume.html
.vscode
chrome_profile
.aider*
data_folder_example*
node_modules
your_env_name
venv